$standartcolor: #fff;
//Обнуление и шрифты
@import "normalize.scss";
body{
    background: $standartcolor;
    .header{
        width: 100%;
        min-height: 100vh;
        background: url('/img/back.jpg') no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        position: relative;
        cursor: default;
        .header_overlay{
            width: 100%;
            min-height: 100vh;
            background:  rgba(37, 37, 37, 0.20);
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 0.5fr 5fr 1fr;
            justify-items: center;
            align-items: center;
            position: relative;
            .header_logo{
                margin-top: 40px;
                margin-left: 40px;
                width: 50px;
                height: 50px;
                background: url('/img/logo.png') no-repeat;
                background-size: cover;
                background-position: center;
                justify-self: start;
                align-self: start;
            }
            .header_text{
                width: 50%;
                text-shadow: 1px 1px 4px #555;
                font-family: logo;
                text-align: center;
                color: $standartcolor;
            }
                .header_text_one{
                    text-transform: uppercase;
                    font-size: 30px;
                    margin-bottom: 18px;
                }
                .header_text_two{
                    font-size: 65px;
                }
                @media (max-width: 850px) {
                    .header_logo{
                        margin-top: 15px;
                        margin-left: 15px;
                    }
                    .header_text{
                        width: 100%;
                    }
                    .header_text_one{
                        font-size: 30px;
                    }
                    .header_text_two{
                        font-size: 35px;
                    }
                }
        .header_link{
            font-family: url;
            font-size: 1em;
            text-decoration: none;
            text-transform: uppercase;
            color: #fff;
            padding: 15px;
            border: 3px solid #fff;
            transition: 0.5s;
            align-self: start;
            &:hover{
                background-color: #fff;
                color: #000;
                border: 3px solid #fff;
            }
        }
        @media (max-width: 850px) {
            .header_link{
                padding: 10px
            }
        }
        .header_scroll{
            color: #FFF;
            text-transform: uppercase;
            font-size: 20px;
            font-family: url;
            font-weight: 900;
            position: absolute;
            right: 0px;
            transform: rotate(90deg);
            transition: 0.5s;
            animation: header-text-scroll 1.2s infinite alternate;
            text-decoration: none;
            &:hover{
            color: #ccc;
            }
            &:after{
                content:" \2192";
            }
        }
        @media (max-width: 850px) {
            .header_scroll{
                font-size: 15px;
                right: -30px;
            }
        }
        }
        @keyframes header-text-scroll{
            0%{
                bottom: 180px;
            }
            100%{
                bottom: 100px;
            }
        }
    }
    @media (max-width: 850px) {
        .header{
            background-attachment: local;
        }
    }
    .qoute{
        min-height: 70vh;
        background: url('/img/back_steve.jpg') no-repeat;
        background-attachment: fixed;
        background-position: right;
        background-size: cover;
        text-align: center;
        color: rgba(242, 242, 242, 0.8);
        cursor: default;
        position: relative;
        overflow: hidden;
        .qoute_overlay{
            width: 100%;
            min-height: 70vh;
            background-color:  rgba(0, 0, 0, 0.45);
            position: absolute;
            top: 0px;
            left: 0px;
            text-align: center;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 0.8fr 1fr;
            justify-items: center;
            align-items: center;
            .qoute_autor{
                margin-bottom: 20px;
                font-size: 25px;
                color: #fff;
                text-transform: uppercase;
                justify-self: center;
                align-self: end;
                font-family: text;
                &:before{
                    margin-bottom: 70px;
                    margin-left: 50%;
                    content: "";
                    display: block;
                    max-width: 1.5px;
                    height: 100px;
                    background-color: #ddd;
                }
            }
            .qoute_autor_text{
                width: 90%;
                align-self: start;
                font-family: text2_bold;
                font-size: 1.8em;
            }
        }
        @media (max-width: 850px) {
            .qoute_overlay{
                min-height: 100vh;
            }
            .qoute_autor_text{
                width: 90%;
            }
        }
    }
    @media (max-width: 850px) {
        .qoute{
            min-height: 100vh;
        }
    }
    .portfolio{
        min-height: 100vh;
        font-family: text;
        background: url('/img/back2.jpg') no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
        color: $standartcolor;
        cursor: default;
        .portfolio_overlay{
            width: 100%;
            min-height: 100vh;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 3fr 2fr;
            align-items: center;
            justify-items: center;
            background-color:  rgba(0, 0, 0, 0.60);
        }
        .portfolio_name{
            margin-bottom: 10px;
            text-transform: uppercase;
            font-size: 40px;
            font-weight: 900;
            align-self: end;
        }
        .portfolio_text{
            font-size: 20px;
            align-self: start;
            &::after{
                margin-top: 30px;
                content: "";
                display: block;
                height: 2px;
                max-width: 340px;
                background-color: #ccc;
                text-align: center;
            }
        }
        .portfolio_block_container{
            padding: 20px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 2fr 2fr;
            grid-gap: 40px;
        .portfolio_block{
            max-width: 500px;
            min-height: 300px;
            text-align: center;
            font-family: text2;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 0.5fr 0.2fr 1fr;
            grid-gap: 5px;
            align-items: start;
            justify-items: center;
            .portfolio_block_img1{
                background: url('/img/icons/block1.png') no-repeat;
                background-position: center;
                background-size: cover;
                background-position: center;
                background-size: cover;
                width: 50px;
                height: 50px;
                align-self: center;
            }
            .portfolio_block__name{
                text-transform: uppercase;
                font-size: 20px;
                font-weight: 900;
            }
            .portfolio_block__text{
                line-height: 2;
                font-size: 15px;
                color: rgba(242, 242, 242, 0.6);
            }
            .portfolio_block_img2{
                background: url('/img/icons/block2.png') no-repeat;
                background-position: center;
                background-size: cover;
            }
            .portfolio_block_img3{
                background: url('/img/icons/block3.png') no-repeat;
                background-position: center;
                background-size: cover;
            }
            .portfolio_block_img4{
                background: url('/img/icons/block4.png') no-repeat;
                background-position: center;
                background-size: cover;
            }
        }
        }
        @media (max-width: 850px) {
                .portfolio_block_container{
                    padding: 10px;
                    display: grid;
                    grid-template-columns: 1fr;
                    grid-template-rows: 1fr;
                    grid-gap: 5px;
                }
                .portfolio_block{
                    padding: 10px;
                }
                .portfolio_block_img1{
                    margin-bottom: 20px;
                }
            }
        }
    .about{
        min-height: 50vh;
        background: #111111;
        color: #fff;
        display: grid;
        justify-items: center;
        align-items: center;
        .about_overlay{
            width: 50%;
            padding: 50px;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 2fr 0.5fr;
            grid-gap: 15px;
            justify-items: center;
            align-items: center;
            cursor: default;
            .about_name{
                font-family: text;
                font-size: 40px;
                align-self: end;
            }
            .about_text{
                font-family: text2;
                font-size: 20px;
                align-self: start;
                text-align: justify;
                color: rgba(242, 242, 242, 0.6);
                &:after{
                    margin: 50px auto;
                    display: block;
                    content: "";
                    max-width: 300px;
                    height: 2px;
                    background: #ccc;
                }
            }
            .socmedia{
                align-self: start;
                .socmediaimg{
                    width: 50px;
                    height: 50px;
                }
            }
        }
    }
        @media (max-width: 850px) {
            .about{
                padding: 50px 50px;
                .about_overlay{
                    width: 90%;
                }
            }
        }
    .footer{
        padding: 20px;
        background: #111;
        color: rgba(242, 242, 242, 0.6);
        font-family: text2;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        align-items: center;
        justify-items: center;
        text-align: center;
        .copy{
            justify-self: end;
            cursor: default;
        }
        .design{   
            justify-self: start;
            cursor: default;
            &:before{
                margin: 0px 10px;
                display: inline-block;
                content: "|";
            }
            a{
                color: rgba(242, 242, 242, 0.6);
                text-decoration: none;
                &:hover{
                    color: rgb(191, 143, 37);
                    text-decoration: underline;
                }
            }
        }
    }
}
